
        <div class="col-3">
         <div class="card text-center">
          <div class="card-header bg-gradient <%= item.status== 'Confirmado' ?  'bg-warning' : 'bg-primary'%>">
            <%= item.status %>
          </div>
          <div class="card-body">
            <h5 class="card-title">Mesa <%= item.order.table.name%></h5>
            <p class="card-text"><%= item.product.name %></p>
            <p class="card-text"><%= item.order.observations %></p>

          </div>
          <ol class="list-group list-group-flush text-start">
            <li class="list-group-item">Cantidad: <%= item.quantity %></li>
            <li class="list-group-item">Observaciones: <%= item.observations %></li>
          </ol>
          <div class="card-footer text-muted">
            <a href="#" class="btn btn-primary">Iniciar</a>
          </div>
         </div>
        </div>
