<h2 >Historial de Pedidos</h2>
<div class="bg-light">
    <%= search_form_for(@q, url: history_path, method: :get, class: 'row gy-2 gx-3 align-items-center') do |f| %>
  <div class="col-auto">
        <%= f.search_field :observations_or_table_name_cont, placeholder: "Busca por mesa u observac...", class: 'form-control ' %>
  </div>
  <div class="col-auto">
        <div class="input-group">
          <span class="input-group-text">Entre:</span>
          <%= f.date_field :date_gteq, class: 'form-control' %>
          <%= f.date_field :date_lteq, class: 'form-control' %>
        </div>
  </div>
  <div class="col-auto">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
          <%= f.radio_button :active_eq, 1, checked: @q.active_eq, class: "btn-check"  %>
          <%= f.label :active_eq_1, 'Activos', class: 'btn btn-outline-secondary' %>
          <%= f.radio_button :active_eq, 0, checked: !@q.active_eq, class: "btn-check"  %>
          <%= f.label :active_eq_0, 'Anulados', class: 'btn btn-outline-secondary' %>
        </div>
  </div>
  <div class="col-auto">
        <%= button_tag :submit, class: 'btn btn-primary' do %>
           <%= content_tag(:i, " ", :class => "bi bi-search") %>
        <% end %>
  </div>
    <% end %>
</div>
<div class="table-responsive-lg">
    <table  class="table table-striped  table-sm caption-top">
      <thead>
        <tr>
          <th scope="col"><%= sort_link(@q, :id, "#", default_order: :asc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :date, "Fecha", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :table_name, "Mesa", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :guests, "Comensales", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :observations, "Observaciones", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :total_value, "Valor Total", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :aditions, "Adicionales", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :tip, "Propina", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :final_value, "Valor Final", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"><%= sort_link(@q, :status, "Estado", default_order: :desc, class: "text-dark") %></th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
        <%= render 'history/order', order: order %>
        <% end %>
      </tbody>

      <tfoot>
          <th colspan="5" ><%= @pagy.count %> Pedidos encontrados</th>
          <th class="text-end"><%= number_to_currency(@total_value_sum,  :precision => 0) %></th>
          <th class="text-end"><%= number_to_currency(@total_aditions_sum,  :precision => 0) %></th>
          <th class="text-end"><%= number_to_currency(@total_tip_sum,  :precision => 0) %></th>
          <th class="text-end"><%= number_to_currency(@total_final_value_sum,  :precision => 0) %></th>
          <th colspan="2" ></th>
      </tfoot>
    </table>
</div>
<div id="pager" class="min-w-full my-8 flex justify-between">
    <%== pagy_bootstrap_nav(@pagy) %>
</div>
