<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div class="alert alert-danger d-flex align-items-center" role="alert">
      <h6>No se pudo Guardar
      </h6><br>
      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <label class="form-label" for="customer_name">Nombre</label>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label" for="customer_identification">Identificación</label>
    <%= form.text_field :identification, class: "form-control" %>
  </div>

  <div class="mb-3">
    <label class="form-label" for="customer_email">Correo electrónico</label>
    <%= form.text_field :email, class: "form-control",  placeholder: "name@example.com" %>
  </div>

  <div class="mb-3">
    <%= form.button content_tag(:i, " ", :class => "bi bi-save")+" Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
