
    <%= form_with(model: order) do |form| %>
  <div class="row justify-content-md-center">
    <div class="col">
      <% if order.errors.any? %>
        <div style="color: red">
          <h4><%= pluralize(order.errors.count, "error") %> Revisa los siguientes errores:</h4>
          <ul>
            <% order.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-6">
        <%= form.label :date, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.date_field :date, class: "form-control form-control-lg" %>
          </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <%= form.label :table_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.select :table_id, options_from_collection_for_select(Table.all, :id, :name) , {},{"class" => "form-select form-select-lg mb-3", 'aria-label:' => ".form-select-lg example"} %>
          </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <%= form.label :customer_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.select :customer_id, options_from_collection_for_select(Customer.all.order(:name), :id, :to_s), {:include_blank => true} , class: "form-control form-control-lg" %>
          </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <%= form.label :guests, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.number_field :guests , class: "form-control form-control-lg" %>
          </div>
      </div>

<% frame_id = dom_id(order, "observations_turbo_frame") %>
<%= turbo_frame_tag frame_id do %>
      <div class="col-sm-12 col-md-6 ">
        <%= form.label :observations, class: "col-sm-2 col-form-label" %>
        <div class="col-md-6">
          <%= form.text_area :observations , class: "form-control form-control-lg" %>
        </div>
        <%= form.button "Guardar" %>

        <%= link_to "Cancelar", @order %>
      </div>
<% end %>

      <div class="col-sm-12 col-md-6">
        <%= form.label :user_id, "Creado por:", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
            <b ><%= current_user.email -%></b><br>
            <%= form.submit "Guardar", :class => "btn btn-primary" %>
            <%= link_to "Cancelar", orders_path, :class => "btn btn-danger" %>
        </div>
      </div>
  </div>
    <% end %>
