
    <%= form_with(model: order) do |form| %>
  <div class="row justify-content-md-center">
    <div class="col">
      <% if order.errors.any? %>
        <div style="color: red">
          <h4><%= pluralize(order.errors.count, "error") %> Revisa los siguientes errores:</h4>
          <ul>
            <% order.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>




<%= turbo_frame_tag dom_id(order, "date_turbo_frame") do %>
      <h2><%= link_to content_tag(:i, " ", :class => "bi bi-ui-checks-grid"), @order, class: "text-danger" %></h2>
      <h3 class="lead">Mesa</h3>
      <div class="input-group">
        <%= form.date_field :date, class: "form-control form-control-sm" %>
        <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
      </div>
<% end %>

<%= turbo_frame_tag dom_id(order, "table_id_turbo_frame") do %>
      <h2><%= link_to content_tag(:i, " ", :class => "bi bi-ui-checks-grid"), @order, class: "text-danger" %></h2>
      <h3 class="lead">Mesa</h3>
      <div class="input-group">
        <%= form.select :table_id, options_from_collection_for_select(Table.all, :id, :name, @order.table_id) , {},{"class" => "form-select form-select-sm"} %>
        <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
      </div>
<% end %>

<%= turbo_frame_tag dom_id(order, "customer_id_turbo_frame") do %>
      <h2><%= link_to content_tag(:i, " ", :class => "bi bi-person-square"), @order, class: "text-danger" %></h2>
      <h3 class="lead">Cliente</h3>
      <div class="input-group">
        <%= form.select :customer_id, options_from_collection_for_select(Customer.all.order(:name), :id, :to_s, @order.customer_id), {:include_blank => true}, {class: "form-select form-select-sm"} %>
        <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
      </div>
<% end %>

<%= turbo_frame_tag dom_id(order, "guests_turbo_frame") do %>
        <h2><%= link_to content_tag(:i, " ", :class => "bi bi-people-fill"), @order, class: "text-danger" %></h2>
        <h3 class="lead">Comensales</h3>
      <div class="input-group">
        <%= form.number_field :guests , class: "form-control form-control-sm" %>
        <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
      </div>
<% end %>

<%= turbo_frame_tag dom_id(order, "observations_turbo_frame") do %>
        <%= link_to "Observaciones", @order, class: "text-danger" %>
        <%= form.text_area :observations , class: "form-control form-control-sm" %>
        <div class="d-grid gap-2">
            <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
        </div>
<% end %>


<%= turbo_frame_tag dom_id(order, "tax_turbo_frame") do %>
        <div class="input-group">
            <span class="input-group-text"><%= link_to "Impuesto:", @order, class: "text-danger" %></span>
            <%= form.number_field :tax , class: "form-control form-control-sm" %>
            <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
        </div>
<% end %>


<%= turbo_frame_tag dom_id(order, "tip_turbo_frame") do %>
        <div class="input-group">
            <span class="input-group-text"><%= link_to "Propina:", @order, class: "text-danger" %></span>
            <%= form.number_field :tip , class: "form-control form-control-sm" %>
            <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
        </div>
<% end %>

<%= turbo_frame_tag dom_id(order, "aditions_turbo_frame") do %>
        <div class="input-group">
            <span class="input-group-text"><%= link_to "Adicionales:", @order, class: "text-danger" %></span>
            <%= form.number_field :aditions , class: "form-control form-control-sm" %>
            <%= form.button content_tag(:i, " ", :class => "bi bi-save"), class: "btn btn-success btn-sm" %>
        </div>
<% end %>

      <div class="col-sm-12 col-md-6">
        <%= form.label :user_id, "Creado por:", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
            <b ><%= current_user.email -%></b><br>
            <%= form.submit "Guardar", :class => "btn btn-primary" %>
            <%= link_to "Cancelar", orders_path, :class => "btn btn-danger" %>
        </div>
      </div>
    <% end %>
