<div id="<%= dom_id order %>">
  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= order.observations %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= order.total_value %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= order.tax %>
  </p>

  <p>
    <strong>Tip:</strong>
    <%= order.tip %>
  </p>

  <p>
    <strong>Guests:</strong>
    <%= order.guests %>
  </p>

  <p>
    <strong>Atendido por:</strong>
    <%= order.user %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= order.table_id %>
  </p>

</div>
