<div id="<%= dom_id order %>">
  <p>
    <strong>Date:</strong>
    <%= order.date %>
  </p>

  <p>
    <strong>Observations:</strong>
    <%= order.observations %>
  </p>

  <p>
    <strong>Total value:</strong>
    <%= content_tag :span, number_to_currency(order.total_value,  :precision => 0), :id => "total_value" %>
  </p>
  <p>
    <strong>Comensales:</strong>
    <%= order.guests %>
  </p>

  <p>
    <strong>Atendido por:</strong>
    <%= order.user %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= order.customer %>
  </p>

  <p>
    <strong>Table:</strong>
    <%= order.table_id %>
  </p>

</div>
