<h1>Crear Orden</h1>

    <%= form_with(model: @order) do |form| %>
  <div class="row justify-content-md-center">
    <div class="col">
      <% if @order.errors.any? %>
        <div style="color: red">
          <h4><%= pluralize(@order.errors.count, "error") %> Revisa los siguientes errores:</h4>
          <ul>
            <% @order.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-6">
        <%= form.label :date, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.date_field :date, class: "form-control form-control-lg" %>
          </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <%= form.label :table_id, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.select :table_id, options_from_collection_for_select(Table.ransack(status_eq: 'Disponible').result, :id, :name) , {},{"class" => "form-select form-select-lg mb-3", 'aria-label:' => ".form-select-lg example"} %>
          </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <label class="col-sm-2 col-form-label" for="cliente">Cliente</label>
      <%= link_to "(agrega uno nuevo)", new_customer_path, :class => "btn btn-link", 'data-controller' => "turbo"  %>
        <div data-controller="autocomplete" data-autocomplete-url-value="/customers"  class="col-sm-10">
          <input id="cliente" type="text" data-autocomplete-target="input" class="form-control form-control-lg" placeholder="Digita para buscar..."/>
          <ul class="list-unstyled mb-0"  data-autocomplete-target="results"></ul>
          <%= form.hidden_field :customer_id, "data" => { "autocomplete-target" => "hidden"} %>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <%= form.label :guests, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.number_field :guests , class: "form-control form-control-lg" %>
          </div>
      </div>

      <div class="col-sm-12 col-md-6 ">
        <%= form.label :observations, class: "col-sm-2 col-form-label" %>
          <div class="col-sm-10">
        <%= form.text_area :observations , class: "form-control form-control-lg" %>
          </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <%= form.label :user_id, "Creado por:", class: "col-sm-4 col-form-label" %>
        <div class="col-sm-8">
            <%= form.hidden_field :status, value: "Iniciada" %>
            <b ><%= current_user.email -%></b><br>
            <%= form.submit "Guardar", :class => "btn btn-primary" %>
            <%= link_to "Cancelar", orders_path, :class => "btn btn-danger" %>
        </div>
      </div>
  </div>
    <% end %>
