<%= render @order %>



<%= turbo_frame_tag Item.new %>

<div class="container">
  <div class="row bg-light border-bottom border-3 fw-bolder text-nowrap align-items-center">
      <div class="col-3">Producto</div>
      <div class="col-2">Cantidad</div>
      <div class="col-2 d-none d-md-block overflow-hidden">Observaciones</div>
      <div class="col">Precio U.</div>
      <div class="col">Total</div>
      <div class="col"><%= link_to "Agregar", new_order_item_path(@order), data: { turbo_frame: dom_id(Item.new) }, class: "btn btn-primary" %></div>
  </div>
  <%= turbo_frame_tag "items", class: "align-items-bottom"  do %>
    <%= render @items, order: @order %>
  <% end %>
</div>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>

</div>


