<p style="color: green"><%= notice %></p>

<%= render @order %>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Precio U.</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody  id="items">
          <% @order.items.each do |item| %>
            <%= render "item", item: item %>
          <% end %>
          </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Agregar items:</h2>
        <%= form_with model: [ @order, @order.items.build ] do |form| %>

          <div>
            <%= form.label :product_id, style: "display: block" %>
            <%= form.select :product_id, options_from_collection_for_select(Product.where(:active => true), :id, :name) %>
          </div>
          <p>
            <%= form.label :quantity %><br>
            <%= form.number_field :quantity %>
          </p>
          <p>
            <%= form.label :observations %><br>
            <%= form.text_area :observations %>
          </p>
          <p>
            <%= form.submit %>
          </p>
        <% end %>

    </div>
</div>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>

</div>


