<%= render @order %>

<%= link_to "nuevo item", new_order_item_path(@order), class: "btn btn--primary" %>
<div class="row">
    <div class="col-md-12">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Observaciones</th>
              <th scope="col">Precio U.</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody  id="items">
            <%= render @items, order: @order %>
          </tbody>
        </table>
    </div>
</div>

<div>
  <%= link_to "Edit this order", edit_order_path(@order) %> |
  <%= link_to "Back to orders", orders_path %>

  <%= button_to "Destroy this order", @order, method: :delete %>

</div>


