<%= turbo_frame_tag item, class: "row border-bottom align-items-end" do %>
  <div class="col-3 overflow-hidden order-md-0 lead"><%= item.product ? item.product.name : '' %></div>
  <div class="col-1 order-md-1"><strong><%= item.quantity %></strong></div>
  <div class="col-12 col-md-2 order-last order-md-2"><%= content_tag "small", item.observations %></div>
  <div class="col-2 order-md-3"><%= number_to_currency item.price_unit,  :precision => 0 %></div>
  <div class="col order-md-4 text-end"><strong><%= number_to_currency item.total,  :precision => 0 %></strong></div>
  <div class="col text-end order-md-5">
      <% if item.order.alive? and item.order.active %>
      <span >
      <%= link_to content_tag(:i, " ", :class => "bi bi-pencil "), edit_order_item_path(item.order,item), :class => "btn btn-warning d-inline-block", :title => "Modificar", 'data-bs-toggle' => "tooltip", 'data-bs-placement' => "bottom" %>
      <%= link_to content_tag(:i, " ", :class => "bi bi-trash"), order_item_path(item.order,item), :class =>   "btn btn-danger  d-inline-block", data: { 'turbo-method' => :delete, :turbo_confirm => "¿Estas seguro?", 'bs-toggle' => "tooltip", 'bs-placement' => "bottom"  }, :title => "Anular" %>
      </span>
      <% end %>
  </div>
<% end %>
