<h2 >Productos</h2>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <%= search_form_for(@q, url: products_path, method: :get, class: 'd-flex') do |f| %>
        <%= f.search_field :name_or_description_cont, placeholder: "nombre o descripción...", class: 'form-control ' %>
        <%= button_tag :submit, class: 'btn btn-primary' do %>
           <%= content_tag(:i, " ", :class => "bi bi-search") %>
        <% end %>
    <% end %>
    <div class="text-end">
      <%= link_to content_tag(:i, " ", :class => "bi bi-stars text-warning")+"Nuevo Producto", new_product_path, :class => "btn btn-primary" %>
    </div>
  </div>
</nav>


<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Disponible</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Cocina</th>
      <th scope="col">Tipo</th>
      <th scope="col">Accciones</th>
    </tr>
  </thead>
  <tbody  id="products">
  <% @products.each do |product| %>
    <%= render product %>
  <% end %>
  </tbody>
</table>


