<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>MestizApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

 <body class="d-flex flex-column h-100">
      <main class="flex-shrink-0">
          <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand h1">MestizApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item text-center">
                      <%= link_to content_tag(:i, "", :class => "bi bi-file-check")+" Productos", products_path, :class => 'nav-link '  %>
                    </li>
                    <li class="nav-item text-center">
                      <%= link_to content_tag(:i, "", :class => "bi bi-grid-1x2-fill")+" Mesas", tables_path, :class => 'nav-link'  %>
                    </li>
                    <li class="nav-item text-center">
                      <%= link_to content_tag(:i, "", :class => "bi bi-calculator-fill")+" Pedidos", orders_path, :class => 'nav-link'  %>
                    </li>
                    <li class="nav-item text-center">
                      <%= link_to content_tag(:i, "", :class => "bi bi-people-fill")+" Clientes", customers_path, :class => 'nav-link'  %>
                    </li>
                    <li class="nav-item text-center">
                      <%= link_to content_tag(:i, "", :class => "bi bi-people")+" Usuarios", users_path, :class => 'nav-link'  %>
                    </li>
                  </ul>
                  <div class="d-flex">
                    <% if current_user %>
                        <%= link_to "Salir", log_out_path, :class =>"btn btn-warning text-dark me-2"  %>
                    <% else %>
                        <%= link_to "Iniciar", log_in_path, :class =>"btn btn-primary" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </nav>
          </header>
          <div id="notices" class="container">
                <% if notice %>
                  <p class="alert alert-info"><%= notice %></p>
                <% end %>
                <% if alert %>
                  <p class="alert alert-warning"><%= alert %></p>
                <% end %>
          </div>
          <div id="main" class="container-lg">
                <%= yield %>
          </div>
          <%= turbo_frame_tag "remote_modal" %>
      </main>
      <footer class="footer mt-auto py-3 bg-light">
          <div class="container">
            <div class="text-end">
              <% if current_user %>
                <b><%= current_user.email -%></b>
              <% end %>
            </div>
          </div>
      </footer>
  </body>
</html>
